<!DOCTYPE html>
<html>
<head>
    <title>Vue app</title>

    <link rel="stylesheet" type="text/css" href="./style.css">

    <!-- development version, includes helpful console warnings -->    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./lib/vue.js"></script>

</head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">                
                <div class="product-image">
                    <img :src="image" alt="product-image">
                </div>
                <div class="product-info">                    
                    <h2> {{ product }} </h2>
                    <p v-if="inStock"> In Stock </p>
                    <p v-else > Out of Stock </p>

                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>

                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{ variant.variantColor }}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="./main.js"> </script>
    </body>
</html>